/*  your css code here. If applicable */
#container{
	margin:20px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:10px
   
}
#container::before{
	color:rgb(255, 0, 0);
	content:"Before Element ";
	
}
#container::after{
	color:rgb(255, 0, 0);
	content:" After Element";
	
}